<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h1>admin page</h1>
<h1>admin After Login: admin Page</h1>
	<a href="/logout">Logout</a>
	<h1>Name : [[${user.fullName}]]</h1>
	<h1>Email : [[${user.email}]]</h1>
	<h1>Qualification : [[${user.qualification}]]</h1>
	
	
	<div id="myPlot" style="width:100%;max-width:700px"></div>

<script>
const xArray = ["Italy", "France", "Spain", "USA", "Argentina"];
const yArray = [100, 49, 44, 24, 15];

const data = [{
  x:xArray,
  y:yArray,
  type:"bar",
  orientation:"v",
  marker: {color:"rgba(0,0,255,0.6)"}
}];

const layout = {title:"World Wide Wine Production"};

Plotly.newPlot("myPlot", data, layout);
</script>
</body>
</html>